.dot {
	margin-right: 10px;
	cursor: pointer;
	border: 2px solid #fff;
	transition: all 0.3s ease-in-out;

	height: 20px;
	width: 20px;
	border-radius: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

.dot:hover,
.dot_color_active {
	border: 2px solid #0c0f14;
}

.dot_basic {
	background-color: #0c0f14;
}

.dot_root_note {
	background-color: #febb31;
}

