.fret_revealer {
	margin-bottom: auto;
	cursor: pointer;
	padding: 8px 12px;

	font-weight: 500;
	font-size: 12px;
	color: #0c0f14;
	background-color: #e4e4e8;

	transition: all 0.3s ease-in-out;
	margin-bottom: 8px;
}

.fret_revealer:hover {
	background-color: #cdcdd0;
}
