*,
*::before,
*::after {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
	vertical-align: baseline;
	font-weight: inherit;
	font-family: 'Montserrat';
	font-style: inherit;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	font-size: 100%;
	text-align: left;
	border: 0 none;
	outline: 0;
}

html,
body,
#root {
	height: 100%;
	width: 100%;

	margin: 0 auto;
	height: 100vh;
	overflow: hidden;
}

body {
	--dot-root-color: #febb31;
	--item-root-color: #0c0f14;
	--dot-selected-color: #0c0f14;
	--item-selected-color: #fff;
}
